<form nz-form #validateForm="ngForm" (ngSubmit)="save()" *ngIf="model">
    <div class="modal-header">
        <div class="modal-title">
            {{'EditUser' | translate}}
        </div>
    </div>

    <nz-tabset>
        <nz-tab [nzTitle]="'UserDetails' | translate">
            <div se-container="1" labelWidth="150">
                <se label="{{'UserName' | translate}}" error="{{'用户名不能为空' | translate}}" required>
                    <input nz-input [(ngModel)]="model.userName" name="userName" maxlength="128" type="text" required>
                </se>
                <se label="{{'Name' | translate}}" error="{{'名不能为空' | translate}}" required>
                  <input nz-input [(ngModel)]="model.name" name="name" type="text" maxlength="32" required>
                </se>
                <se label="{{'Surname' | translate}}" error="{{'姓不能为空' | translate}}" required>
                  <input nz-input [(ngModel)]="model.surname" name="surname" type="text" maxlength="32" required>
                </se>
                <se label="{{'EmailAddress' | translate}}" error="{{'填写有效的邮箱地址' | translate}}" required>
                    <input nz-input [(ngModel)]="model.emailAddress" name="emailAddress" type="email" pattern="^[a-zA-Z0-9_-]+@[a-zA-Z0-9_-]+(\.[a-zA-Z0-9_-]+)+$" maxlength="256"
                        required>
                </se>
                <se label="{{'IsActive' | translate}}">
                    <nz-switch [(ngModel)]="model.isActive" name="isActive"></nz-switch>
                </se>
            </div>
        </nz-tab>

        <nz-tab [nzTitle]="'UserRoles' | translate">
            <div class="pt-md pr-md pl-md">
                <nz-checkbox-group name="roles" [(ngModel)]="roleList"></nz-checkbox-group>
            </div>
        </nz-tab>

    </nz-tabset>

    <div class="modal-footer">
        <button nz-button type="button" [disabled]="saving" (click)="close()">{{"Cancel" | translate}}</button>
        <button nz-button [nzType]="'primary'" type="submit" [disabled]="!validateForm.valid||saving">{{"Save" |
            translate}}</button>
    </div>

</form>
