<nz-spin [nzTip]="'Registering' | translate" [nzSize]="'large'" [nzSpinning]="saving">
    <nz-card [nzTitle]="nzTitle" nzHoverable='true'>
        <ng-template #nzTitle>
            <div class="text-center">
                <i class="anticon anticon-login"></i>
                <span>{{'Register' | translate}}</span>
            </div>
        </ng-template>
        <form nz-form #validateForm="ngForm" (ngSubmit)="save()">
          <div se-container="1" labelWidth="100">
            <se label="{{'Name' | translate}}" error="{{'Required' | translate}}" required>
                <input nz-input [(ngModel)]="model.name" name="name" maxlength="64" type="text" required>
            </se>
            <se label="{{'Surname' | translate}}" error="{{'Required' | translate}}" required>
                <input nz-input [(ngModel)]="model.surname" name="surname" maxlength="64" type="text" required>
            </se>

            <se label="{{'EmailAddress' | translate}}" error="{{'填写有效的邮箱地址' | translate}}" required>
                <input nz-input [(ngModel)]="model.emailAddress" name="emailAddress" type="email" pattern="^[a-zA-Z0-9_-]+@[a-zA-Z0-9_-]+(\.[a-zA-Z0-9_-]+)+$"
                    maxlength="256" required>
            </se>
            <se label="{{'UserName' | translate}}" error="{{'Required' | translate}}" required>
                <input nz-input [(ngModel)]="model.userName" name="userName" maxlength="128" type="text" required>
            </se>

            <se label="{{'Password' | translate}}" error="{{'密码必须包含 {0} 个字符' | translateFormat : 6}}" required>
                <input nz-input [(ngModel)]="model.password" name="password" validateEqual="passwordRepeat" reverse="true"
                    type="password" minlength="6" maxlength="32" required>
            </se>

            <se label="{{'PasswordRepeat' | translate}}" error="{{'PasswordInconsistent' | translate}}" required>
                <input nz-input [(ngModel)]="confirmPassword" name="passwordRepeat" validateEqual="password"
                    reverse="false" type="password" minlength="6" maxlength="32" required>
            </se>
        </div>

        <nz-row class="pt-md">
            <nz-col [nzSpan]="12">
                <button nz-button [routerLink]="['../login']" type="button" [disabled]="saving">{{'Back' |
                    translate}}</button>
            </nz-col>
            <nz-col [nzSpan]="12" class="text-right">
                <button nz-button nzType="primary" type="submit" [disabled]="!validateForm.valid||saving">{{'Submit'
                    | translate}}</button>
            </nz-col>
        </nz-row>

        </form>

    </nz-card>
</nz-spin>
