<form nz-form (ngSubmit)="submit()">
    <div class="modal-header">
        <div class="modal-title">
            {{ 'ChangeTenant' | translate }}
        </div>
    </div>

    <nz-form-item>
        <nz-form-label [nzSpan]="6" nzFor="email">{{ 'TenancyName' | translate }}</nz-form-label>
        <nz-form-control [nzSpan]="14">
            <input nz-input placeholder="{{ 'TenancyName' | translate }}" [(ngModel)]="tenancyName" name="tenancyName">
        </nz-form-control>
    </nz-form-item>

    <div class="modal-footer">
        <button nz-button [nzType]="'primary'" type="submit" [disabled]="saving" [nzLoading]="saving">{{ 'Change' | translate }}</button>
        <button nz-button [nzType]="'default'" type="button" (click)="close()" [disabled]="saving">{{ 'Cancel' | translate }}</button>
    </div>

</form>