<page-header [title]="'Tenants' | translate">

</page-header>

<nz-card [nzExtra]="extraAction">
    <ng-template #extraAction>
        <button nz-button (click)="create()" nzType="primary">{{'Create' | translate}}</button>
        <button nz-button (click)="refresh()">{{'Refresh' | translate}}</button>
    </ng-template>

    <nz-table #dataTable nzShowSizeChanger [nzFrontPagination]="false" [nzData]="dataItems" [nzTotal]="pageingInfo.totalItems"
        [(nzPageIndex)]="pageingInfo.pageNumber" [(nzPageSize)]="pageingInfo.pageSize" [nzLoading]="pageingInfo.isTableLoading"
        (nzPageIndexChange)="refresh()" (nzPageSizeChange)="refresh()">
        <thead>
            <tr>
                <th>{{'TenancyName' | translate}}</th>
                <th>{{'Name' | translate}}</th>
                <th>{{'IsActive' | translate}}</th>
                <th>{{'Actions' | translate}}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of dataTable.data">
                <td>{{item.tenancyName}}</td>
                <td>{{item.name}}</td>
                <td>
                    <span [innerHTML]="item.isActive | yn : ('Yes' | translate) : ('No' | translate)"></span>
                </td>
                <td>
                    <a (click)="edit(item)">{{'Edit' | translate}}</a>
                    <nz-divider nzType="vertical"></nz-divider>
                    <a nz-popconfirm [nzTitle]="'AreYouSureWantToDelete' | translateFormat : item.tenancyName"
                        (nzOnConfirm)="delete(item)" nzPlacement="top">{{'Delete' | translate}}</a>
                </td>
            </tr>
        </tbody>
    </nz-table>

</nz-card>
