<form nz-form #validateForm="ngForm" (ngSubmit)="save()" *ngIf="model">
    <div class="modal-header">
        <div class="modal-title">
            {{'EditTenant' | translate}}
        </div>
    </div>

    <nz-spin [nzSpinning]="saving">
        <div se-container="1" labelWidth="200">
                <se label="{{'TenancyName' | translate}}" error="租户名称不能为空，只能是字母数字和下划线，且必须字母开头" extra="只能是字母数字和下划线，且必须字母开头" required>
                    <input nz-input [(ngModel)]="model.tenancyName" name="tenancyName" maxlength="64" type="text" required>
                </se>
                <se label="{{'DisplayName' | translate}}" error="{{'Required' | translate}}" required>
                    <input nz-input [(ngModel)]="model.name" name="name" type="text" maxlength="128" required>
                </se>
                <se label="{{'IsActive' | translate}}">
                    <nz-switch [(ngModel)]="model.isActive" name="isActive"></nz-switch>
                </se>
            </div>

    </nz-spin>

    <div class="modal-footer">
        <button nz-button type="button" [disabled]="saving" (click)="close()">{{"Cancel" | translate}}</button>
        <button nz-button [nzType]="'primary'" type="submit" [disabled]="!validateForm.valid||saving">{{"Save" |
            translate}}</button>
    </div>

</form>
