<form nz-form #validateForm="ngForm" (ngSubmit)="save()" *ngIf="model">
    <div class="modal-header">
        <div class="modal-title">
            {{'CreateRole' | translate}}
        </div>
    </div>

    <nz-spin [nzSpinning]="!model">
        <div se-container="1" labelWidth="150">
            <se label="{{'Name' | translate}}" error="{{'名称不能为空' | translate}}" required>
                <input nz-input [(ngModel)]="model.name" name="name" maxlength="32" type="text" required>
            </se>
            <se label="{{'DisplayName' | translate}}" error="{{'显示名不能为空' | translate}}" required>
                <input nz-input [(ngModel)]="model.displayName" name="displayName" maxlength="64" type="text" required>
            </se>
            <se label="{{'RoleDescription' | translate}}" optional="(选填)">
                <textarea nz-input [(ngModel)]="model.description" name="description" [nzAutosize]="{ minRows: 2, maxRows: 6 }"></textarea>
            </se>
            <se label="{{'Permissions' | translate}}" required>
                <nz-checkbox-group name="permissions" [(ngModel)]="permissionList" *ngIf="permissionList.length!=0"></nz-checkbox-group>
            </se>
        </div>

    </nz-spin>

    <div class="modal-footer">
        <button nz-button type="button" [disabled]="saving" (click)="close()">{{"Cancel" | translate}}</button>
        <button nz-button [nzType]="'primary'" type="submit" [disabled]="!validateForm.valid||saving">{{"Save" |
            translate}}</button>
    </div>

</form>
